<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Loan Forecaster</title>
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='fonts/lineo-management-icon/lineo-management-icon.css') }}" rel="stylesheet" type="text/css">
		<!-- Loading main css file -->
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		
		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="{{ url_for('index') }}" id="branding">
						<img src="{{ url_for('static', filename='images/logo.png') }}" alt="Company Name" class="logo">
						<div class="branding-copy">
							<h1 class="site-title">Loan Forecaster</h1>
							<small class="site-description">Forecast your Loan Approval</small>
						</div>
					</a> <!-- #branding -->

					<div class="social-links pull-right">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
					</div>
				</div> <!-- .container -->
			</header> <!-- .site-header -->

			<main class="main-content">
				<div class="hero hero-slider">
					<div class="container">
						<div class="slider">
							<ul class="slides">
								<li>
									<h2 class="slide-title">A Comprehensive platform that enables one to have an idea regarding the chances of loan approval</h2>
									<div class="slide-desc"> With some simple steps you can check whether your credit history can lend you loan or not.</div>
									<img src="{{ url_for('static', filename='dummy/figure-1.png') }}" alt="figure">
								</li>
								<li>
									<h2 class="slide-title">A Comprehensive platform that enables one to have an idea regarding the chances of loan approval</h2>
									<div class="slide-desc"> With some simple steps you can check whether your credit history can lend you loan or not.</div>
									<img src="{{ url_for('static', filename='dummy/figure-2.png') }}" alt="figure">
								</li>
								<li>
									<h2 class="slide-title">A Comprehensive platform that enables one to have an idea regarding the chances of loan approval</h2>
									<div class="slide-desc"> With some simple steps you can check whether your credit history can lend you loan or not.</div>
									<img src="{{ url_for('static', filename='dummy/figure-3.png') }}" alt="figure">
								</li>
							</ul> <!-- .slides -->
						</div> <!-- #slider -->
					</div> <!-- .container -->
				</div> <!-- .hero-slider -->

				<div class="fullwidth-block request-form-section">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<h2 class="section-title">Loan Forecaster</h2>
								<!-- <p class="leading">Fusce in mauris fringilla interdum lorem et rhoncus turpis sed nunc nisi dictum nec lectus ac condimentum placerat mi.</p> -->
								<ul class="circle-numbered-feature">
									<li>
										<h3>Comprehensive Platform</h3>
										<p>A Comprehensive platform that enables one to have an idea regarding the chances of loan approval. With some simple steps you can check whether your credit history can lend you loan or not.</p>
									</li>
									<li>
										<h3>Works on Machine Learing</h3>
										<p>A self learning model based on Logistic Regression providing solutions for the banking sector reducing the hustle for the borrower.</p>
									</li>
									<!-- <li>
										<h3>Providing Proper lenders</h3>
										<p>Providing the probabale lenders for the given creditor history.</p>
									</li> -->
								</ul> <!-- .circle-numbered-feature -->
							</div>
							<div class="col-md-5 col-md-offset-1">
								<div class="request-form">
									<h2>Fill in your details</h2><br><br>
									<p>You can fill up your details and check whether you may get loan approval or not</p>
									<form action="{{ url_for('form') }}" method="post"><br><br>
										<!-- <div class="field">
											<label for="">Full name</label>
											<div class="control"><input type="text" placeholder="John Smith"></div>
										</div>
										<div class="field">
											<label for="">Email address</label>
											<div class="control"><input type="text" placeholder="john_smith@email.com"></div>
										</div>
										<div class="field">
											<label for="">Company name</label>
											<div class="control"><input type="text" placeholder="Your company INC"></div>
										</div>
										<div class="field">
											<label for="">Phone number</label>
											<div class="control"><input type="text" placeholder="542-425-432"></div>
										</div> -->
										<div class="text-right">
											<input type="submit" value="Click Here">
										</div>
									</form>
								</div> <!-- .request-form -->
							</div> 
						</div>
					</div> 
				</div> <!-- .fullwidth-block -->

				<!-- <div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title">What our customers have to say</h2>
						<div class="row">
							<div class="col-md-5">
								<div class="testimonial">
									<figure class="avatar"><img src="dummy/person-1.jpg" alt=""></figure>
									<div class="testimonial-content">
										<h3 class="fn">Steven Johnson</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore illum modi, libero distinctio nesciunt ipsum nostrum explicabo sequi! Consectetur quisquam illo harum, voluptatibus qui aperiam error suscipit repellat perferendis exercitationem.</p>
									</div>
								</div>
								<div class="testimonial">
									<figure class="avatar"><img src="dummy/person-2.jpg" alt=""></figure>
									<div class="testimonial-content">
										<h3 class="fn">Susan Dowson</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore illum modi, libero distinctio nesciunt ipsum nostrum explicabo sequi! Consectetur quisquam illo harum, voluptatibus qui aperiam error suscipit repellat perferendis exercitationem.</p>
									</div>
								</div>
							</div>
							<div class="col-md-5 col-md-offset-1">
								<div class="testimonial">
									<figure class="avatar"><img src="dummy/person-3.jpg" alt=""></figure>
									<div class="testimonial-content">
										<h3 class="fn">Sarah James</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore illum modi, libero distinctio nesciunt ipsum nostrum explicabo sequi! Consectetur quisquam illo harum, voluptatibus qui aperiam error suscipit repellat perferendis exercitationem.</p>
									</div>
								</div>
								<div class="testimonial">
									<figure class="avatar"><img src="dummy/person-4.jpg" alt=""></figure>
									<div class="testimonial-content">
										<h3 class="fn">Chris Web</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore illum modi, libero distinctio nesciunt ipsum nostrum explicabo sequi! Consectetur quisquam illo harum, voluptatibus qui aperiam error suscipit repellat perferendis exercitationem.</p>
									</div>
								</div>
							</div>
						</div>

					</div> <!-- .container -->
				 <!-- .fullwidth-block -->

				<div class="fullwidth-block" data-bg-color="#F2F2F2">
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<div class="feature">
									<div class="feature-icon"><i class="icon-29"></i></div>
									<h2 class="feature-title"><a href="{{ url_for('form') }}">Scalable</a></h2>
									<!-- <p>Sed dapibus convallis tortor sagittis diam luctus quis. Maecenas vestibulum dui vel tortor faucibus dapibus tortor.</p> -->
								</div>
							</div>
							<div class="col-md-3">
								<div class="feature">
									<div class="feature-icon"><i class="icon-3"></i></div>
									<h2 class="feature-title"><a href="{{ url_for('form') }}">Works on Machine Learing</a></h2>
									<!-- <p>Sed dapibus convallis tortor sagittis diam luctus quis. Maecenas vestibulum dui vel tortor faucibus dapibus tortor.</p> -->
								</div>
							</div>
							<div class="col-md-3">
								<div class="feature">
									<div class="feature-icon"><i class="icon-25"></i></div>
									<h2 class="feature-title"><a href="{{ url_for('form') }}">Accurate</a></h2>
									<!-- <p>Sed dapibus convallis tortor sagittis diam luctus quis. Maecenas vestibulum dui vel tortor faucibus dapibus tortor.</p> -->
								</div>
							</div>
							<div class="col-md-3">
								<div class="feature">
									<div class="feature-icon"><i class="icon-6"></i></div>
									<h2 class="feature-title"><a href="{{ url_for('form') }}">Works with all leading banks</a></h2>
									<!-- <p>Sed dapibus convallis tortor sagittis diam luctus quis. Maecenas vestibulum dui vel tortor faucibus dapibus tortor.</p> -->
								</div>
							</div>
						</div> <!-- .row -->
						<p class="text-center more-link">
							<!-- <a href="feature.html" class="button">Read more</a> -->
						</p>
					</div> <!-- .container -->
				</div> <!-- .fullwidth-block -->
			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<p>Loan Forecaster</p>
<!-- 							<address>432 Avenue Street, New York</address>
 -->						</div>
						<div class="col-md-2">
							<!--<p>-->
							<!--	<a href="mailto:ritwiktiwari24@gmail.com">ritwiktiwari24@gmail.com</a> <br>-->
							<!--</p>-->
							<!--<p>-->
							<!--	<a href="tel:935424721319">+91 9805806088</a>-->
							<!--</p>-->
						</div>
						<div class="col-md-5 col-md-offset-3">
							<form action="#" class="subscribe">
								<input type="text" placeholder="Email address...">
								<input type="submit" value="Subscribe">
							</form>
						</div>
					</div>
					<div class="copy">
						<p>All rights reserved</p>
					</div>
				</div>
			</footer>

		</div>


		

		<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
		
	</body>

</html>